@media (max-width:991px) {
    .user-utility {
        display: none;
    }

    .m-menu-icon {
        display: block;
    }

    .menu-icon {
        font-size: 28px;
        padding: 0px 7px;
        cursor: pointer;
    }

    .site-nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        z-index: 100;
        background-color: #00307e;
        background-image: none;
        color: #fff;
        width: 240px;
        align-items: flex-start;
        padding-top: 70px;
        transform: translate(240px, 0);
        transition: .3s;
    }

    .nav-item > a {
        color: #fff;
        background-color: #002566;
        background-color: #002566;
        background-image: -webkit-linear-gradient(top, #013589 0%, #002566 100%);
        background-image: -o-linear-gradient(top, #013589 0%, #002566 100%);
        background-image: linear-gradient(to bottom, #013589 0%, #002566 100%);
        width: 100%;
    }

    .nav-center {
        justify-content: flex-start;
        margin: 0;
        max-height: calc(100vh - 110px);
        overflow: hidden;
        overflow-y: auto;
    }

    .nav-item {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .site-nav > .container {
        padding: 0;
    }

    .site-logo > img {
        width: 200px;
    }

    .site-header {
        height: 70px;
        float: left;
        width: 100%;
        position: relative;
        z-index: 100;
    }

    .main-wrapper .container {
        max-width: 95%;
    }

    .site-nav .container {
        max-width: 100%;
    }

    .menu-row:before {
        display: none;
    }

    .menu-row {
        visibility: visible;
        opacity: 1;
        position: relative;
        top: 0;
        left: 0;
        flex-direction: column;
        background-color: #002668;
        margin-top: 0;
    }

        .menu-row > ul > li {
            min-width: 100%;
        }

            .menu-row > ul > li > a {
                color: #abb4c3;
                line-height: 1.6em;
            }

    .nav-item:hover .menu-row {
        opacity: 1;
        top: 0;
        visibility: visible;
    }

    .menu-row > ul > li > a:hover {
        background-color: #0948af;
        color: #fff;
    }

    .site-nav.open {
        transform: translate(0, 0);
    }

    .close-navigation {
        font-size: 28px;
        position: absolute;
        left: 15px;
        line-height: 30px;
        top: 20px;
        width: 30px;
        text-align: center;
        cursor: pointer;
    }

    .menu-row {
        display: none;
    }

    .transparent-bg {
        position: fixed;
        background-color: #00233f;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        opacity: .8;
        display: none;
    }

    .menu-row > ul + ul {
        border-left: 0;
    }

    .close-navigation {
        display: block;
    }

    .section-banner-row {
        flex-direction: column;
        width: 100%;
    }

    .section-hero-nav {
        min-width: 100%;
        margin: 20px auto;
    }

    .footer-nav {
        flex-direction: column;
    }
}

@media (max-width:767px) {
    .section-banner-text > h1 {
        font-size: 40px;
    }

    .xs-100 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row-str {
        margin: 0 -15px;
        margin-top: 15px;
    }

    .section-cards > .container {
        max-width: 100%;
    }

    .banner-img-and-text {
        flex-direction: column;
    }

    /*us citizen*/
    .us-citizen-header > h1, .us-citizen-header > h1 > span 
    {
        font-size: 40px;
    }
    .section-banner-citizen 
    {
        flex-direction: column;
    align-items: center;
    }
    .us-section-b 
    {
        margin:15px auto;
    }
}

@media (max-width:576px) {
    .form-rows {
        flex-direction: column;
    }

        .form-rows > strong, .form-rows > span, .form-rows > strong:first-child {
            width: 100%;
            text-align: center;
        }

    .section-one .container, .why-choose .container, .site-footer .container, .section-citizition .container {
        max-width: 92%;
    }

    .list-group-card > ul > li a {
        font-size: 14px;
    }

    .list-group-card > h4 {
        font-size: 18px;
    }

    .why-choose-h1, .immigration-qheader {
        font-size: 1.5rem;
    }
    .section-inner > h2 {
        font-size: 20px;
    }
    .section-qa 
    {
        padding-left:15px;
        padding-right:15px;
    }
    .btn-application 
    {
        font-size:20px;
        white-space:nowrap;
    }
}

@media (max-width:479px) {
    .section-banner-image {
        margin: 15px auto;
    }

        .section-banner-image > img {
            max-width: 240px;
        }

    .section-banner-text {
        padding: 0 10px;
    }
}
